.container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--accent);
  border-radius: 6px;
  cursor: pointer;
  transition: transform .3s;
}

.container:hover {
  transform: scale(1.02);
}

.container div {
  height: 100%;
  color: var(--title);
  justify-content: center;
}

.name {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  flex: 4;
  background: var(--background);
  border-radius: 6px 0 0 6px;
}

.stars {
  background: rgb(42, 42, 43);
  border-radius: 0 6px 6px 0; 
  display: flex;
  align-items: center;
}

.stars span {
  margin-top: 5px;
}

.stars img {
  width: 25%;
  max-width: 100px;
  min-width: 20px;
  margin-left: 5px;
}